@use 'base/mixins' as m;
@use 'base/variables' as v;

.nosotros{

  &__titulo{
    text-align: center;
    padding-block: 1rem;
    font-size: 4rem;
  }
  
  &__grid{
    display: grid;
    align-items: center;

    @include m.tablet{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.mision-vision{


  &__titulo{
    padding-top: 6rem;
    text-align: center;
    color: v.$secundario;
  }

  &__grid{
    display: grid;
    gap: 2rem;
    line-height: 1.5;

    @include m.tablet{
      grid-template-columns: repeat(2, 1fr);
    }

    span{
      color: v.$primario;
      font-weight: bold;
    }
  }
}