@use 'base/mixins' as m;
@use 'base/variables' as v;

.cards{
  &__grid{
    @include m.tablet {
      @include m.grid(3, 2rem);
    }
  }
}

.card{
  max-width: 35rem;
  margin: 0 auto 2rem auto;
  
  &:last-of-type{
    margin-bottom: 0;
  }
  @include m.tablet {
    max-width: unset;
    margin: 0;
  }

  &__imagen{
    width: 100%;
    border: .5rem solid v.$blanco;
    transition-property: transform;
    transition-duration: .3s;

    &:hover{
      transform: scale(1.1);
    }

    @include m.tablet {
      &:hover{
        transform: rotate(2deg) scale(1.2);
      }
    }
  }

  &__contenido{
    max-width: 90%;
    margin: 0 auto;
    background-color: v.$blanco;
    transform: translateY(-6rem);
  }

  &__heading{
    @include m.headingCursiva;
    padding: 2rem 0;
    font-size: 3.4rem;
  }

  &__enlace{
    @include m.boton(v.$secundario, v.$blanco);
    display: block;
  }
}